<h1>Admin Dashboard</h1>
<div class="panel panel-default"> 
  <dl class="dl-horizontal">
    <br/>
    <dt>Product
    <dd>Number of products <%= link_to @product_count, [ :admin, :products] %>
    <br/>
    <dt>Category
    <dd>Click to see all categories <%= link_to @category_count, [:admin, :products] %></dd>
  </dl>

</div> 

