

  <header class="page-header">
    <h1>About Us</h1>
 </header>
  <div class="panel panel-default"> 

    <dt>A very short summary about Jungle </dt>
    <br></br>
  
<p> To see all available product , please click on  <%= link_to  'HOme', [:root] %> </P>


</div> 
